*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91450;
    font-family: sans-serif;
    font-weight: bold;
}

/* Utility */

.color-pink{
    color: #b91450;
}

.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.bg-white{
    background-color: #fff;
}

.bg-gray{
    background-color: gray;
}

.text-center{
    text-align: center;
}

.text-align-last{
    text-align-last: center;
}

.d-flex{
    display: flex;
}

.f-grow{
    flex-grow: 1;
}

.space-around{
    justify-content: space-around;
}

button{
    padding: 10px;
    margin: 0 30px;
    cursor: pointer;
}

input,
select{
    border: 2px solid #b91450;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

input:focus-visible {
    outline: 0;
}

.d-none{
    display: none;
}

/* Start css */

.container{
    max-width: 900px;
    margin: 50px auto;
}

#d-text i{
    animation: arrow 1s infinite;
    margin: 0 20px;
    font-size: 40px;
}

@keyframes arrow {
    0%{
        transform: inherit;
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

/*! PART 1 */

.user-detail{
    padding: 10px 0;
    margin: 35px 0;
    border-radius: 20px;
    box-shadow: 0 0 30px 15px grey;
}

.user-detail .row{
    margin: 50px 0;
}

.user-detail .col{
    flex-direction: column;
}

/*! PART 2 */

.user-result{
    padding: 10px;
    margin: 35px 0;
    box-shadow: 0 0 30px 15px grey;
}

.user-result .row-1{
    margin-top: 20px;
}

.user-result .col{
    padding: 20px;
}

.user-result .box-info .details{
    margin-top: 80px;
}
